div.wrapper {
  background: #666;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  width: 940px;
}
.row {
  display: block;
  margin-left: -20px;
  width: 960px;
  zoom: 1;
}
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.row div {
  background-color: #999;
  height: 35px;
}
div.left {
  float: left;
  position: relative;
  width: 460px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.right {
  float: left;
  position: relative;
  width: 460px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span1 {
  float: left;
  position: relative;
  width: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span2 {
  float: left;
  position: relative;
  width: 140px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span3 {
  float: left;
  position: relative;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span4 {
  float: left;
  position: relative;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span5 {
  float: left;
  position: relative;
  width: 380px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span6 {
  float: left;
  position: relative;
  width: 460px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span7 {
  float: left;
  position: relative;
  width: 540px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span8 {
  float: left;
  position: relative;
  width: 620px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span9 {
  float: left;
  position: relative;
  width: 700px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span10 {
  float: left;
  position: relative;
  width: 780px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.span11 {
  float: left;
  position: relative;
  width: 860px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.spanAll {
  float: left;
  position: relative;
  width: 940px;
  margin-left: 20px;
  margin-bottom: 20px;
}
div.showOffset {
  float: left;
  position: relative;
  width: 860px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
}
div.anotherOffset {
  float: left;
  position: relative;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-left: 180px;
}
